{% extends 'base.html' %}

{% block content %}

<div class="col">
    <h1 class="text-center">Bienvenidos a la casa de las maquinas para Coser</h1><br>

    {% include 'snippets/search.html' %}

    <h4 class="text-center mt-2">{{message}}</h4>


<div class="row">
    {% for product in products %}
       <div class="col-3 mt-5">
        <div class="card h-100">
            {% if product.image %}
            <img src="{{product.image.url}}" alt="Imagen del producto" height="250">
            {% endif %}
            <div class="class-body">
                <h5 class="card-title">{{product.title}}</h5>
                <p class="card-text">{{product.description}}</p>
                <a href="#" class="btn btn-primary">Ver Más</a>
            </div>
        </div>
       </div>
    {% endfor %}
</div>


</div>
{% endblock %}
{% load static %}


